//Fonts
@import url('../assets/fonts/galano/stylesheet.css');
$galano: 'GalanoGrotesque';

//Colors
$black: #000;
$dark-grey: #1e1e1e;
$grey: #555555;
$light-grey: #A5A5A5;
$dark-red: #66040B;
$red: #990611;
$light-red: #E50918;
$dark-blue: #192B4D;
$blue: #315599;
$light-blue: #4980E5;
$blued-grey: #8BAAD6;
$white: #fff;