.about {
    @include mobile {
        padding: 64px 16px;
    }
    &-img {
        position: absolute;
        bottom: 0;
        left: 0;
        @include mobile {
            display: none;
        }
    }
    &-content {
        padding: 0 0 128px 0;
        @include tablet {
            padding-bottom: 64px;
        }
        @include mobile {
            padding: 0;
        }
        .small-title {
            color: $light-grey;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 600;
            @include tablet {
                font-size: 12px;
            }
        }
        .title {
            font-weight: 600;
            font-size: 56px;
            color: $red;
            span {
                color: $blue;
            }
            @include desktop-lg {
                font-size: 48px;
            }
            @include tablet {
                font-size: 48px;
            }
        }
        .text {
            color: $light-grey;
            font-weight: 300;
            line-height: 1.5;
            @include desktop-lg {
                font-size: 14px;
            }
            @include tablet {
                font-size: 14px;
            }
            @include mobile-xs {
                font-weight: 400;
            }
        }
        .floating-card {
            width: 80%;
            height: auto;
            padding: 48px;
            box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.08);
            @include tablet {
                width: 100%;
                padding: 32px;
            }
            @include mobile {
                width: 100%;
                padding: 32px;
            }
            &-title {
                text-transform: uppercase;
                color: $dark-grey;
                font-weight: 600;
                margin-bottom: 16px;
            }
            &-list {
                margin-bottom: 0;
                list-style-image: url('/assets/icons/check-red.svg');
                &-item {
                    font-weight: 300;
                    color: $light-grey;
                    font-size: 16px;
                    margin-bottom: 8px;
                    @include desktop-lg {
                        font-size: 14px;
                    }
                    @include tablet {
                        font-size: 14px;
                    }
                    @include mobile-xs {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}